// Basic
html {
  font: $light 100% $base-typeface;
  background: $black;
}

body {
  background: $white;
  font-size: em($body-size);
  line-height: em($baseline);
  color: $grey-5;
}

// Typography
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1em;
}

h1 {
  font-size: em($h1-size);
  margin-bottom: em($baseline / 2, $h1-size);
  font-weight: $normal;
}

h2 {
  font-size: em($h2-size);
  margin-bottom: em($baseline / 2, $h2-size);
  font-weight: $normal;
}

h3 {
  font-size: em($h3-size);
  margin-bottom: em($baseline / 2, $h3-size);
}

h4 {
  font-size: em($h4-size);
  margin-bottom: em($baseline / 2, $h4-size);
}

h5 {
  font-size: em($h5-size);
  margin-bottom: em($baseline / 2, $h5-size);
}

h6 {
  font-size: em($h6-size);
  margin-bottom: em($baseline / 2, $h6-size);
}

small {
  font-size: em($small-size);
}

p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: em($baseline);
}

blockquote {
  @include clearfix;
  font-size: em($h4-size);
  color: $black;
  border-left: 6px solid $ted-red;
  background: #f9f9f9;
  margin: 0 0 em($baseline) 0; 
  padding: em($baseline*0.5) em($baseline*0.75);
  *:last-of-type {
    margin: 0;
  }
}

// Links
a {
  color: $ted-red;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: darken($ted-red, 10%);
  }
  &:active {
    color: $ted-red;
  }
}

.content {
  a:focus {
    background: $ted-red;
    color: $white;
    padding: em($baseline*0.25);
    border-radius: 4px;
    outline: 0;
  }
}

// Navigation
#primary-navigation {
  margin-left: em($baseline*-0.5);
  margin-right: em($baseline*-0.5);
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  a {
    background: $black;
    border-bottom: 1px solid $white;
    color: white;
    display: block;
    padding: em($baseline*0.5);
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      background: $ted-red;
    }
  }
}

// -- HEADER --
[role="banner"] {
  padding-top: em($baseline*0.5);
}

#brand {
  margin-bottom: em($baseline*0.5);
  @include clearfix;
  display: block;
}

// -- MAIN --
.page-header {
  border-top: 1px solid $grey-c;
  border-bottom: 1px solid $grey-c;
  padding: em($baseline) 0;
  background: $grey-e;
  color: $black;
}

// -- FOOTER --
[role="contentinfo"] {
  padding-top: em($baseline);
  background: $black;
  color: $grey-d;
}

// -- WRAPPERS --
.wrapper {
  padding-top: em($baseline);
}

// -- BLOG --
.article-heading {
  color: $black;
  &:hover,
  &:focus {
    color: $ted-red;
  }
  &:active {
    color: lighten($ted-red, 10%);
  }
}

.article-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.article-byline {
  color: $grey-9;
}