// Basic
html {
  font: $light 100% $base-typeface;
  background: $black;
}

body {
  background: $white;
  font-size: em($body-size);
  line-height: em($baseline);
  color: $grey-5;
}

// Typography
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1em;
}

h1 {
  font-size: em($h1-size);
  margin-bottom: em($baseline / 2, $h1-size);
  font-weight: $normal;
}

h2 {
  font-size: em($h2-size);
  margin-bottom: em($baseline / 2, $h2-size);
  font-weight: $normal;
}

h3 {
  font-size: em($h3-size);
  margin-bottom: em($baseline / 2, $h3-size);
}

h4 {
  font-size: em($h4-size);
  margin-bottom: em($baseline / 2, $h4-size);
}

h5 {
  font-size: em($h5-size);
  margin-bottom: em($baseline / 2, $h5-size);
}

h6 {
  font-size: em($h6-size);
  margin-bottom: em($baseline / 2, $h6-size);
}

small {
  font-size: em($small-size);
}

p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: em($baseline);
}

ul, ol {
  padding-left: 1.3em;
}

// Media

img {
  max-width: 100%;
  width:auto;
  height:auto;
}
#brand img {
  max-width: em(260);
  width:11em;
}

blockquote {
  @include clearfix;
  font-size: em($h4-size);
  color: $black;
  border-left: 6px solid $ted-red;
  background: #f9f9f9;
  margin: 0 0 em($baseline) 0; 
  padding: em($baseline*0.5) em($baseline*0.75);
  *:last-of-type {
    margin: 0;
  }
}

// Links
a {
  color: $ted-red;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: darken($ted-red, 10%);
  }
  &:active {
    color: $ted-red;
  }
}

.content {
  a:focus {
    background: $ted-red;
    color: $white;
    padding: em($baseline*0.25);
    border-radius: 4px;
    outline: 0;
  }
}

// Forms
input,
textarea {
  border: em(1) solid $grey-c;
  padding: em($baseline*0.5);
  border-radius: em(5);
  &:hover {
    border: em(1) solid $grey-9;
  }
  &:focus {
    outline: none;
    border: em(1) solid $ted-red;
  }
}

select,
input,
input[type="text"],
textarea {
  width: 100% !important;
  max-width: none !important;
  @include box-sizing(border-box);
}

.button,
button,
input[type="submit"] {
  display: inline-block;
  border: 2px solid lighten($ted-red, 15%);
  background: darken($ted-red, 10%);
  color: $white;
  margin-top:em($baseline*0.8);
  padding: em($baseline*0.5) em($baseline);
  border-radius: em(5);
  &:hover,
  &:focus {
    background: $ted-red;
    color:$white;
  }
  &:active {
    position: relative;
    top: em(2);
  }
}

// Navigation
#primary-navigation {
  margin-left: em($baseline*-0.5);
  margin-right: em($baseline*-0.5);
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  a {
    background: $grey-e;
    border-top: 1px solid $grey-c;
    color: $black;
    display: block;
    font-weight: $normal;
    padding: em($baseline*0.5);
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      border-top: 1px solid darken($ted-red, 10%);
      background: $ted-red;
      color: $white;
    }
  }
}

.nav-toggle {
  display: inline-block;
  background: $ted-red;
  border: em(2) solid $ted-red;
  color: $white;
  padding: em($baseline*0.25) em($baseline*0.5);
  border-radius: em(6);
  text-decoration: none;
  float: right;
  position: absolute;
  right: em($baseline*0.5);
  top: em($baseline*0.4);
  &:hover,
  &:focus {
    background: darken($ted-red, 10%);
    color: $white;
  }
}

// -- HEADER --
[role="banner"] {
  padding-top: em($baseline*0.5);
  position:relative;
}

#brand {
  //margin-bottom: em($baseline*0.5);
  @include clearfix;
  
}

// -- MAIN --
#page-header {
  padding: em($baseline*1.2) 0;
  background: $black;
  color: $white;
  h1 {
    margin: 0;
  }
}

// -- INTRO SECTION --
.intro {

  background:$black url(../images/circles.svg) no-repeat 6em 19em;
  background-size:100%;
  padding:em($baseline*4) 0;
  color:$white;

  .button {
    margin-top:em($baseline*1.2);
  }

  h3 {
    font-weight: $normal;
  }
}



// --HOME MAIN --



.latest-blog {
  background:$grey-d;

section {
  padding-bottom:em($baseline*0.9);
}

h1 a{
 color:$black;

 &:hover {
  color:$ted-red;
 }
}


}

.recent-posts {
  h4 {
    margin-bottom:0;
  }

  h4 a {
    color:$black;
    font-weight:$normal;

    &:hover {
      color:$ted-red;
    }
  }
   small {
    display: block;
    margin-bottom:em($baseline*0.5);
   }
}

// -- FOOTER --
[role="contentinfo"] {
  padding-top: em($baseline);
  background: $black;
  color: $grey-d;
}

.social {
  ul {
    padding:0;
  }
  ul li {
    display:inline-block;
    padding-right:em($baseline*0.2);


  }
   ul li i {
    color:$white;

    &:hover {
      color:darken($ted-red, 10%);
    }
   }
}

main {
  //margin-bottom: em($baseline);
}



// -- WRAPPERS --
.wrapper {
  padding-top: em($baseline);
}

.row {
  padding:3em 0;
}

// -- BLOG --
.article-heading {
  color: $black;
  &:hover,
  &:focus {
    color: $ted-red;
  }
  &:active {
    color: lighten($ted-red, 10%);
  }
}

.article-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.article-byline {
  color: $grey-9;
}

.article-footer {
  margin-bottom: em($baseline*0.9);
}